<html>

<body>


  <div class="navbar nav1">
    <div class="container">
      <ul class="nav nav-pills nav-fill">

        <li class="nav-item emblem">
          <img src="https://selfregistration.cowin.gov.in/assets/images/emblem-gov.svg" alt="emblem">
        </li>

        <li class="nav-item ministry">
          <p>Ministry of Health and Family Welfare</p>
        </li>

        <li class="nav-item verify">
          <p>Verify Certificate</p>
        </li>

        <li class="nav-item dashboard ">
          <p>Dashboard</p>
        </li>

        <li class="nav-item A">
          <button>A+</button>
        </li>

        <li class="nav-item A">
          <button>A</button>
        </li>

        <li class="nav-item A">
          <button>A-</button>
        </li>


        <li class="nav-item English">
          <select placeholder="English">
            <option value="Eng">English</option>
            <option value="Hin">हिन्दी</option>
            <option value="Hin">मराठी</option>
            <option value="Hin">தமிழ்</option>
            <option value="Tel">తెలుగు</option>
            <option value="Hin">हಕನ್ನಡ</option>


          </select>
        </li>

      </ul>
    </div>
  </div>

  <div class="navbar nav2">
    <div class="container">
      <ul class="nav nav-pills nav-fill">

        <li class="nav-item cowin">
          <div class="cowin-image">
            <img src="https://selfregistration.cowin.gov.in/assets/images/covid19logo.jpg" alt="cowin">
          </div>
        </li>



        <li class="nav-item dropdown">
          <select placeholder="Vaccination Services">
            <option value="V">Vaccination Services</option>
            <option value="Eng">Register Members</option>
            <option value="Hin">Search vaccination centers</option>
            <option value="Hin">Book vaccination Slots</option>
            <option value="Hin">Manage Appointments</option>
            <option value="Download">Download Certificate</option>
          </select>
        </li>

        <li class="nav-item ">
          <select placeholder="Platforms">
            <option value="Eng">Platforms</option>
            <option value="Hin">Cowin International</option>
            <option value="Hin">Vaccinator</option>
            <option value="Hin">Department Login</option>
            <option value="">Verify Certificate</option>
            <option value="">Vaccination Statistics</option>
          </select>
        </li>

        <li class="nav-item ">
          <select placeholder="Resources">
            <option value="Eng">Resources</option>
            <option value="Hin">How to get Vaccinated</option>
            <option value="Hin">Do's and Dont's</option>
            <option value="Hin">Overview</option>
            <option value="">API Guidelines</option>
            <option value="">Grievance Guidelines</option>
          </select>
        </li>

        <li class="nav-item ">
          <select placeholder="Support">
            <option value="Eng">Support</option>
            <option value="Hin">Frequently asked questions</option>
            <option value="Hin">Certificate corrections</option>
            <option value="Hin">Contact Us</option>
          </select>
        </li>
      </ul>
    </div>
  </div>


